<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="academy.MyListeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test  name="Validating title">
    <classes>
     <class name="academy.ValidateTitleTC"/>
    </classes>
  </test> <!-- Test -->
   <test  name="Validating dataProvider">
    <classes>
     <class name="academy.DataProviderEx"/>
    </classes>
  </test> <!-- Test -->
   <test  name="Validating login user">
    <classes>
     <class name="academy.HomePageTC"/>
    </classes>
  </test> <!-- Test -->
   <test  name="Validating navigation bar">
    <classes>
      <class name="academy.NavigationBarTC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->